@use "./variables" as *;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Lato, sans-serif !important;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  background: $header-bg;
  padding: 20px 10px;
  z-index: 1000;
  img {
    width: 200px;
  }
}

.main {
  flex: 1;
  min-height: calc(100vh - #{$header-height} - #{$footer-height} - #{50px});
  margin: auto;
}

.footer {
  padding: 20px;
  background-color: #1d1e20;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: end;
  color: #fff;
}
