$font-family-sans-serif: "Lato,sans-serif";
$header-bg: linear-gradient(to right, #1d1e20, #043bc7);
$header-height: 60px;
$footer-height: 40px;
$btn-bgColor: #2f3942;
$img-border: 1px solid #073473;
$carousal-btn-bg: rgb(128 128 128 / 25%);

$white: #fff;
$black: #000;
$zoombg: rgba(81, 79, 79, 0.4);
